
*{
    margin: 0;
    padding: 0;
    border: 0;

}


body{
    font-family: 'Raleway', sans-serif;
}

.menu-header{
    position: absolute;
    top: 0;
    color: #fff;
}

body {
    color: #ffffff;
    background-color: #000000;
}

.carousel-inner{
height: 40rem;

}

.logo_final {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.redes{
    text-align: center;
}
.redes a{
    text-decoration: none;
    color:white;
}


.blanco{
    background-color:#000000 ;
    Text-align: center
       
}

.letra-1{
    font-size: 18px;
}


.letra-2{
    font-size: 14px;
}


.letra-3{
    font-size: 12px;
}

.letra-4{
    font-size: 25px;
}

.iconos {
    background-color:#17A2B8 ;
    color: #ffffff;
    font-weight: lighter;
    Text-align: center;

}

.central{
    Text-align: center;
}
.p{
    text-align: center;
}
